/*
WP Smart Crop
*/
.image-smartcrop .box {
	padding:16px;
}
.smartcrop-image-wrap {
	box-sizing:border-box;
	height:100%;
}
.smartcrop-sidebar {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	background:#f0f0f0;
	width:300px;
	border-right:1px solid #ccc;
}
.smartcrop-content {
	position:absolute;
	right:0;
	left:300px;
	top:0;
	bottom:0;
}
.smartcrop-content img {
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}

.smartcrop-message-content {
	padding: 16px;
    background: #fff;
    width: 300px;
    top: 30%;
    left:50%;
    margin-left:-150px;
    z-index: 159901;
    position: fixed;
    box-shadow:0 3px 6px rgba( 0, 0, 0, 0.3 );
}

.smartcrop-select .choices {
	border-top:1px solid #ccc;
}

.smartcrop-select-item input[type="radio"] {
	display:none;
}
.smartcrop-select-item input[type="radio"]:before {
	content:'';
}
.smartcrop-select-item input[type="radio"]:checked ~ label {
	background:#fff;
	width:301px;
	border-color:#ccc;
}
.smartcrop-select-item .sizename:before {
	content:', ';
}
.smartcrop-select-item .sizename:first-child:before {
	content:'';
}
.smartcrop-select-item .disabled,
.smartcrop-select-item input[type="radio"][disabled] ~ label {
	color:#999;
}
.smartcrop-select-item label {
	display:block;
	padding:16px;
	box-sizing:border-box;
/* 	border-top:1px solid #f0f0f0; */
	border-bottom:1px solid #ccc;
}
.smartcrop-select-item label strong {
	font-size:20px;
}





.attachment-info .smartcrop-attachment {
	display:block;
    color:#0073aa;
}



.set-focuspoint {
	position:relative;
	display:inline-block;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
}

.set-focuspoint img {
	width: auto;
	height: auto;
	max-width:100%;
	max-height:100%;
	display:block;
}


.focuspoint-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.focuspoint-box .focuspoint {
	position:absolute;
	pointer-events:none;
}

.focuspoint-box .focuspoint:after,
.focuspoint-box .focuspoint:before {
	position:absolute;
	content:'';
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.focuspoint-box .focuspoint:before {
	height:40px;
	width:1px;
	left:0;
	top:-20px;
}
.focuspoint-box .focuspoint:after {
	width:40px;
	height:1px;
	left:-20px;
	top:0;
}
.focuspoint-box .focuspoint .circle {
	position:absolute;
	top:-75px;
	left:-75px;
	width:150px;
	height:150px;
	border-radius:76px;
	border:1px solid #fff;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}



.ask-focuspoint .media-frame-toolbar .instructions {
	margin:18px;
	font-style:italic;
	font-size:18px;
	float:left;
}

.ask-focuspoint .media-frame-buttons {
	margin:15px;
	float:right;
}
.ask-focuspoint .media-frame-buttons button {
	margin-left:5px;
}


