/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
.robocrop-manage-sizes.off + .robocrop-sizes {
  display: none;
}

.robocrop-sizes-table > thead > tr th:first-of-type {
  padding-left: 10px;
  width: 33%;
}
.robocrop-sizes-table > thead > tr th:last-of-type {
  width: 46px;
}
.robocrop-sizes-table > thead > tr th.options {
  width: 15%;
}
.robocrop-sizes-table .tools {
  text-align: right;
}
.robocrop-sizes-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.robocrop-sizes-table tbody td {
  padding-left: 0;
  vertical-align: top;
}
.robocrop-sizes-table tbody td:first-of-type {
  padding-left: 10px;
}
.robocrop-sizes-table tbody td.input span {
  display: inline-block;
}
.robocrop-sizes-table tbody td.input [data-prop=name] {
  font-weight: 700;
}
.robocrop-sizes-table tbody td.input [type=number], .robocrop-sizes-table tbody td.input [type=text] {
  width: 100%;
}
.robocrop-sizes-table tbody td.dimensions [type=number] {
  float: left;
  margin: 0;
}
.robocrop-sizes-table tbody td.dimensions [data-prop=width] {
  width: 45%;
  border-right-style: none;
  -webkit-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.07);
}
.robocrop-sizes-table tbody td.dimensions [data-prop=height] {
  width: 55%;
  border-left-style: none;
  -webkit-box-shadow: inset -2px 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset -2px 1px 2px rgba(0, 0, 0, 0.07);
  padding-left: 15px;
  text-align: right;
}
.robocrop-sizes-table tbody td.dimensions .times {
  display: inline-block;
  float: left;
  width: 0;
  padding: 4px 0;
  position: relative;
  font-size: 20px;
  line-height: 18px;
  color: #cccccc;
}
.robocrop-sizes-table tbody td.options label {
  display: block;
  margin-bottom: 10px;
}
.robocrop-sizes-table a.remove {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.robocrop-sizes-table a.remove:focus, .robocrop-sizes-table a.remove:hover {
  background-color: #dc3232;
  color: #fff;
}
.robocrop-sizes-table .scaled {
  padding-top: 5px;
}
.robocrop-sizes-table .scaled table tr {
  background-color: transparent;
}
.robocrop-sizes-table .scaled table th.scaled-id, .robocrop-sizes-table .scaled table th.scaled-factor {
  width: 50%;
}
.robocrop-sizes-table .scaled table td, .robocrop-sizes-table .scaled table th {
  padding: 0;
  border-style: none;
}
.robocrop-sizes-table .scaled table td > input, .robocrop-sizes-table .scaled table th > input {
  width: 100%;
  margin: 0;
}
.robocrop-sizes-table .scaled table td.scaled-id, .robocrop-sizes-table .scaled table td.scaled-factor, .robocrop-sizes-table .scaled table th.scaled-id, .robocrop-sizes-table .scaled table th.scaled-factor {
  width: 50%;
}
.robocrop-sizes-table .scaled-list {
  margin-top: 0;
}
.robocrop-sizes-table .scaled-item + .no-scaled-item {
  display: none;
}