
.tool-focuspoint {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
	.focuspoint {
		position:absolute;
		pointer-events:none;
		transition:opacity 0.2s;
		opacity:0.5;
		&:after,
		&:before {
			position:absolute;
			content:'';
			background:#fff;
			box-shadow:0 0 5px rgba(0,0,0,0.5);
		}
		&:before {
			height:40px;
			width:1px;
			left:0;
			top:-20px;
		}
		&:after {
			width:40px;
			height:1px;
			left:-20px;
			top:0;
		}
		.circle {
			position:absolute;
			top:-75px;
			left:-75px;
			width:150px;
			height:150px;
			border-radius:75px;
			border:1px solid #fff;
			box-shadow:0 0 5px rgba(0,0,0,0.5);
		}
	}
	.tool-croprect {
		display:none;
	}
	.robocrop-image-box[data-hilite="true"] & {
		.focuspoint {
			opacity:0;
		}
	}
	&[data-enabled="true"] {
		.focuspoint {
			opacity:1;
		}
		.tool-croprect {
			display:block;
		}
	}
	&:hover {
		.tool-croprect {
			opacity:1;
		}
	}
}


.tool-croprect {
	position:absolute;
	border:1px solid rgba(255,255,255,0.5);
//	z-index:2;
	opacity:0;
	transition:opacity 0.3s, border-color 0.3s;
	.robocrop-image-box[data-hilite="true"] & {
		border-color:rgba(255,255,255,0);
	}
	.label {
		position:absolute;
//		content:attr(data-ratio-name);
		&:first-of-type {
			top:0;
			left:0;
		}
		&:last-of-type {
			bottom:0;
			right:0;
		}
		color:rgba(255,255,255,0.85);
		font-size:14px;
		transition:all 0.3s;
		padding:0.25em 0.5em;
		z-index:3;
		text-shadow:0 0 3px rgba(0,0,0,0.8);
		.robocrop-image-box[data-hilite="true"] & {
			opacity:0;
		}

	}
	&:after {
		content:'';
		$border-width:2000px;
		position:absolute;
		left:-$border-width;
		top:-$border-width;
		bottom:-$border-width;
		right:-$border-width;
		border:$border-width solid rgba(255,255,255,0);
		transition:border-color 0.3s;
		pointer-events:none;
	}
	&[data-hilite="true"] {
//		z-index:3;
		.label {
			text-shadow:0 0 3px rgba(0,0,0,0.0);
			color:rgba(255,255,255,0.15);
		}
		&:after {
			border-color:rgba(255,255,255,1);
		}
	}
	&[data-dir="w"] {
		top:0; // override!
		left:0;
		right:0;
	}
	&[data-dir="h"] {
		top:0;
		bottom:0;
		left:0; // override
	}
}

